[submodule "anki/victor"]
	path = anki/victor
	url = https://github.com/kercre/victor
	branch = snowboy
[submodule "anki/vector-cloud"]
	path = anki/vector-cloud
	url = https://github.com/DDLBots/vector-cloud-fork
[submodule "anki-deps"]
	path = anki-deps
	url = https://github.com/kercre123/anki-deps
